<a href="https://colab.research.google.com/github/adriunte/CSC221_acast051/blob/main/assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# TIY 4-1
pizza = ['cheese', 'white', 'chicken']
for i in pizza:
  print(i)
for i in pizza:
  print(f'I like {i} pizza.')
print('\nI really love pizza!\n')

cheese
white
chicken
I like cheese pizza.
I like white pizza.
I like chicken pizza.

I really love pizza!

In [2]:
# TIY 4-2
animals = ['wolves', 'dogs', 'cats']
for i in animals:
  print(i)
for i in animals:
  print(f'A {i} would be a great pet.')
print("\nAll of them walk on four legs.\n")

wolves
dogs
cats
A wolves would be a great pet.
A dogs would be a great pet.
A cats would be a great pet.

All of them walk on four legs.

In [3]:
# TIY 4-3
for i in range(1, 21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
# TIY 4-4
oneM = [i*1 for i in range(1, 10000001)]
#print(oneM)

In [5]:
# TIY 4-5
print(min(oneM))
print(max(oneM))
print(sum(oneM))

1
10000000
50000005000000

In [6]:
# TIY 4-6
for i in range(1, 21, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [7]:
# TIY 4-7
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [8]:
# TIY 4-8
cube = []
for i in range(1, 11):
  cube.append(i*i*i)
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [9]:
# TIY 4-9
cubes = [i*i*i for i in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [10]:
# TIY 4-10
oneM = [i*1 for i in range(1, 10000001)]
print('\nThe first three items in a list are:')
for i in oneM[0:3]:
  print(i)
print('\nThree items in the middle are:')
for i in oneM[499998:500001]:
  print(i)
print('\nThe last three items are:')
for i in oneM[-3:]:
  print(i)

The first three items in a list are:
1
2
3

Three items in the middle are:
499999
500000
500001

The last three items are:
9999998
9999999
10000000

In [11]:
# TIY 4-11
pizza = ['cheese', 'white', 'chicken']
friends_pizza = pizza[:]
pizza.append('veggie')
friends_pizza.append('extra cheesy')
print('My favorite pizzas are:')
for i in pizza:
  print(i)
print('My friends favorite pizza are:')
for i in friends_pizza:
  print(i)

My favorite pizzas are:
cheese
white
chicken
veggie
My friends favorite pizza are:
cheese
white
chicken
extra cheesy

In [12]:
# TIY 4-12
foods = ('chicken', 'beef', 'rice', 'noodles', 'stirfried veggies')
for food in foods:
  print(food)

### foods[0] = 'orange chicken'

foods = ('orange chicken', 'ground beef', 'rice', 'noodles', 'stirfried veggies')
for food in foods:
  print(food)

chicken
beef
rice
noodles
stirfried veggies
orange chicken
ground beef
rice
noodles
stirfried veggies

In [13]:
# TIY 4-15
pizza = ['cheese', 'white', 'chicken']
friends_pizza = pizza[:]
pizza.append('veggie')
friends_pizza.append('extra cheesy')
print('My favorite pizzas are:')
for i in pizza:
  print(i)
print('My friends favorite pizza are:')
for i in friends_pizza:
  print(i)

oneM = [i*1 for i in range(1, 10000001)]
print('\nThe first three items in a list are:')
for i in oneM[0:3]:
  print(i)
print('\nThree items in the middle are:')
for i in oneM[499998:500001]:
  print(i)
print('\nThe last three items are:')
for i in oneM[-3:]:
  print(i)

cube = []
for i in range(1, 11):
  cube.append(i*i*i)
print(cube)

My favorite pizzas are:
cheese
white
chicken
veggie
My friends favorite pizza are:
cheese
white
chicken
extra cheesy

The first three items in a list are:
1
2
3

Three items in the middle are:
499999
500000
500001

The last three items are:
9999998
9999999
10000000
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [16]:
# Question 2
def factorial(n):
  lis = [*range(1, n+1)]
  facts = 1
  for i in lis:
    facts*=i
  return facts

print(factorial(5))
print(factorial(10))

120
3628800

In [15]:
# Question 3
def special_factorial(n):
  lis = [*range(1, n+1)]
  facts = 1
  if n >= 4:
    lis.remove(4)
    for i in lis:
      facts*=i
  return facts

print(special_factorial(5))
print(special_factorial(10))

30
907200